td {
    border: 1px solid black;
    height: 70px !important;
    width: 70px !important;
}

.circle {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid blue;
}

.square {
    height: 100%;
    width: 100%;
}